.img_area{
	width: 280px;
	padding-bottom: 20px;
	height: 180px;
}
.img_thumbnail{
	position: relative; 
    width: 250px; 
    height: 180px; 
    overflow: hidden;

}
.thumbnail_r{
   position: absolute; 
   left: 50%; 
   top: 50%; 
   height: auto; 
   width: 100%; 
   -webkit-transform: translate(-50%,-50%); 
   -ms-transform: translate(-50%,-50%); 
   transform: translate(-50%,-50%);

} 