#thumbnail_r{
 	position: absolute; 
   left: 50%; 
   top: 50%; 
   height: auto; 
   width: 100%; 
   -webkit-transform: translate(-50%,-50%); 
   -ms-transform: translate(-50%,-50%); 
   transform: translate(-50%,-50%);
   

} 
#img_thumbnail{
	position: relative; 
    width: auto; 
    height: 240px; 
    overflow: hidden;
}